@font-face{
    font-family: 'fraunces_Regular';
    src: url(/assets/font/Fraunces/Fraunces_Regular.ttf);
}
@font-face{
    font-family: 'helvetica_regular';
    src: url(/assets/font/Helvetica/Helvetica_Regular.ttf);
}
@font-face{
    font-family: 'helvetica_light';
    src: url(../font/Helvetica/Helvetica_light.ttf);
}
